body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: yellow;

}

/* 1. Style the Card Notification */
.notification{
    position: absolute;
    top: 2rem;
    right: 0;
    background: black;
    border: 1px solid rgb(0, 0, 0, .13) ;
    box-shadow: 2px 2px 4px 0 rgb(0, 0, 0, .07);
    border-radius: 3px;
    padding: 2rem 4rem 2rem 2rem;

}

.notification::after{
    content: '';
    display: block;
    width: 5px;
    height: 100%;
    background-color: #8bc82f;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px 0 0 2px;
}

.notification p{
    margin: 0 0 1rem 0;
}

.notification p:last-child{
    margin: 0;
    color: yellow;
}

/* 3. Animation Keyframe */
@keyframes slideLeft{
    0%, 100%{
        transform: translate3d(100%, 0, 0);
    }

    10%, 90%{
        transform: translate3d(-2rem, 0, 0);
    }
}

/* 4. Add animation to the card */
.notification{
    transform: translate3d(100%, 0, 0);
    animation: slideLeft 4s 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55 );
}